pkgbase = kanban4ai-bin
	pkgdesc = Native kanban board CLI and TUI driven by AI coding agents (prebuilt binary)
	pkgver = 0.3.5
	pkgrel = 1
	url = https://github.com/sougstron/kanban4ai
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	depends = gcc-libs
	provides = kanban4ai=0.3.5
	conflicts = kanban4ai
	options = !strip
	source_x86_64 = kanban4ai-bin-0.3.5-x86_64.tar.gz::https://github.com/sougstron/kanban4ai/releases/download/v0.3.5/kanban4ai-v0.3.5-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = cd3a34d051a591baec38188e368f560bc519857d9fb016e974cb37067129f689
	source_aarch64 = kanban4ai-bin-0.3.5-aarch64.tar.gz::https://github.com/sougstron/kanban4ai/releases/download/v0.3.5/kanban4ai-v0.3.5-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = ca448b8921ddb811de2a309d41a3cfeaf361bd3e3b11566e39f0211495dd8370

pkgname = kanban4ai-bin
